@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  background-color: #222831;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.title {
  color: #f05454;
}

.username {
  color: #f05454;
}

.login-section {
  margin: 100px auto;
  padding: 10px;
  width: 400px;
  height: 400px;
  background-color: #e8e8e8;
  border-radius: 4px;
}

.form-section {
  color: #30475e;
  font-weight: bold;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
}

.input-section {
  padding: 3px;
  border: 1px solid #30475e;
  border-radius: 4px;
}

input:focus {
  outline-color: #f05454;
}

.error {
  margin: 20px auto;
  color: #30475e;
  font-size: 1.5rem;
  font-weight: bold;
}

.log-btn {
  background-color: #f05454;
  color: #222831;
  font-size: 1rem;
  font-weight: bold;
  padding: 6px 10px;
  border: 2px solid #222831;
  border-radius: 2px;
  transition: 1s;
}

.log-btn:hover {
  background-color: #222831;
  color: #f05454;
}

.attribution {
  color: #e8e8e8;
}

.attribution a {
  color: #f05454;
}

.user-list {
  list-style-type: none;
  color: #e8e8e8;
  padding: 0;
}

/* break point  */
@media only screen and (max-device-width: 480px) {
  .login-section {
    width: 80%;
  }

  .form-section {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: initial;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    row-gap: 15px;
  }
}
